.container {
  position: absolute;
  background: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  padding: 32px;
  width: 60vw;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 90vw;
  }
}
.header {
  margin-bottom: 16px;
}

.title {
  font-size: 1.5rem;
}

.subHeader {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  margin-right: 6px;
}